APP_NAME=AI Government Assistant
APP_VERSION=1.0.0
API_V1_PREFIX=/api/v1

DEBUG=True

HOST=127.0.0.1
PORT=8000

DATABASE_URL=

JWT_SECRET=

OPENAI_API_KEY=

AWS_ACCESS_KEY=

AWS_SECRET_KEY=

S3_BUCKET=

QDRANT_URL=